<%- include("partials/header"); -%>
<div class="box todolistheading" id="heading">
    <h1 class="todolistheading"><i class="far fa-check-circle">Today</i></h1>
</div>

<div class="box todolistbox">
    <% for(var i=0;i<items.length;i++){ %>
        <form action="/todolistsdelete" method="POST">
    <div class="item todolistitems">
        <input type="checkbox" onchange="this.form.submit()" name="checkbox" value="<%= items[i]._id %>" >
        <p class="todolistwords"> <%= items[i].name %> </p>
    </div>
    <input type="hidden" name="listId" value="<%= items[i]._id %>"></input>
</form>
    <% }  %>

    <form class="item" action="/todolistshome" method="POST">
        <input type="text" class="newItemBox" name="newItem" placeholder="Add new-item here" autocomplete="off">
        <input type="hidden" name="userId" value="<%= userId %>"></input>
                <button class="btn btn-dark btn-lg" type="submit" name="list">+</button>
    </form>
</div><br>
</div>
<button class="btn btn-lg btn-dark" onclick="window.location.href='/book'">Back to Activities</button>

<%- include("partials/footer"); -%>